* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    overflow: hidden;
}

header > img {
    width: 30%;
}
